.berlin-uhr {
  display: flex;
  flex-direction: column;
  height: 100%;

  .row {
    display: flex;
    flex: 1;

    div {
      flex: 1;
      margin: 0.5px;

      &.active {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;        
      }

      &:nth-child(3n) {  
        .marker {
          height: 10px;
          max-width: 10px;
          background-color: black;
        }       
      }
    }
  }
}
