.fibonacci-clock {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;

  div {
    display: flex;
  }

  .hour {
    background: linear-gradient(to left top, white 0 50%, black 50% 100%);
  }

  .minute {
    background: linear-gradient(to right bottom, white 0 50%, black 50% 100%);
  }

  .both {
    background-color: white;
  }

  .five, .three, .two, .one-first {
    flex: 1.618;
  }

  >.split {
    flex: 1;
    flex-direction: column-reverse;
    margin-right: 1px;

    >.split {
      flex: 1;
      flex-direction: row;
      margin-bottom: 1px;

      >.split {
        flex: 1;
        flex-direction: column;
        margin-left: 1px;

        .one-second {
          flex: 1;
        }
      }
    }
  }
}
